* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--light);
}

:root {
  --coral: #e7424f;
  --light: #f1faee;
  --light-blue: #457b9d;
  --dark-blue: #1d3557;
}
