.navbar {
  display: flex;
  gap: 30px;
  background-color: var(--dark-blue);
}

.link {
  padding: 5px;
  color: var(--light);
  text-decoration: none;
}

.link:hover {
  background-color: var(--light-blue);
}

.active {
  padding: 5px;
  color: var(--coral);
}
