* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%; 
    background-color: #1d3557;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e63946;
    color: #f1faee;
}

#site_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    letter-spacing: 0.3ch;
    color: white;
}

.main {
    width: 80%;
    height: 100vh;
    background-color: #f1faee;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.search {
    padding: 20px;
}

#search_label {
    font-size: 30px;
    margin-right: 10px;
}

#city {
    border-radius: 10px;
    padding: 5px;
    background-color: #f1faee;
}

#get_btn {
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #457b9d;
    color: white;
}

.present {
    width: 95%;
    padding: 5px;
    padding-bottom: 30px;
    margin: 5px;
    border: 1px dashed #457b9d;
    position: relative;
}

.present h1 {
    text-align: center;
    color: #1d3557;
}

.img_container {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.img_container img {
    width: 60%;
}

.site_link {
    position: absolute;
    bottom: 0;
    right: 5px;
    color: #1d3557;
    text-decoration: none;
}